/* Configuração da página Home */
@font-face {
  font-family: 'animeace2'; /* Nome que você dará à fonte */
  src: url('../../public/fonts/animeace2_reg.ttf') format('truetype'); /* Outros formatos, se necessário */
  font-weight: normal; /* Peso da fonte (normal, bold, etc.) */
  font-style: normal; /* Estilo da fonte (normal, italic, etc.) */
}

.home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    overflow: hidden;
    color: white;
    text-align: center;
  }
  
  /* Estilo do vídeo de fundo */
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que o vídeo cubra toda a tela */
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
  }
  
  /* Estilo do conteúdo */
  .home-content {
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semitransparente */
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .home-content h1 {
    font-family: 'animeace2', serif;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .home-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .home-content button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #ff5722;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .home-content button:hover {
    background-color: #e64a19;
  }
  