.myspace-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #3f51b5;
  color: white;
}

.site-title {
  margin: 0;
}

.add-button {
  padding: 10px 20px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #e64a19;
}

.list-section {
  margin: 20px;
}

.manga-list-myspace {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.manga-item-myspace {
  display: flex;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: start;
}

.manga-item-myspace img {
  height: 150px;
  object-fit: cover;
}

.manga-info-myspace {
  padding: 10px;
}
