.myspace-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3f51b5;
    color: white;
  }
  
  .site-title {
    margin: 0;
  }
  
  .add-button {
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #e64a19;
  }
  
  .list-section {
    margin: 20px;
  }
  
  .manga-list-wishlist {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .manga-card-wishlist {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .manga-item-wishlist {
    display: flex;
    
    text-align: start;
  }
  
  .manga-item-wishlist img {
    height: 150px;
    object-fit: cover;
  }
  
  .manga-info-wishlist {
    padding: 10px;
    margin-right: 150px;
  }
  
  /* Modal Overlay */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal Container */
  .modal-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .modal-container h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .modal-container label {
    display: block;
    margin-bottom: 10px;
    font-size: 0.9rem;
  }
  
  .modal-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-buttons button:first-child {
    background-color: #28a745;
    color: white;
  }
  
  .modal-buttons button:last-child {
    background-color: #dc3545;
    color: white;
  }
  
  .modal-buttons button:hover {
    opacity: 0.9;
  }
  
  .modal-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
  }
  
  
  